<a href="https://github.com/nagymarten" target="_blank" rel="noopener" class="no-underline">
  <p-button
    severity="secondary"
    icon="pi pi-github"
    [rounded]="true"
    [text]="true"
    [outlined]="true"
  />
</a>
<a
  href="https://www.linkedin.com/in/yourusername"
  target="_blank"
  rel="noopener"
  class="no-underline"
>
  <p-button
    severity="secondary"
    icon="pi pi-linkedin"
    [rounded]="true"
    [text]="true"
    [outlined]="true"
  />
</a>
<a
  href="mailto:nagy.martin196@gmail.com"
  class="no-underline"
  pTooltip="Email"
  showDelay="500"
  hideDelay="300"
  tooltipPosition="top"
>
  <p-button
    icon="pi pi-envelope"
    [rounded]="true"
    [text]="true"
    severity="secondary"
    [outlined]="true"
  />
</a>
