<div class="p-2 flex items-center justify-center surface-border">
  <p-card
    [style]="{
      width: '100%',
      overflow: 'hidden',
      border: '1px solid var(--p-content-border-color)'
    }"
  >
    <ng-template #footer>
      <div class="flex flex-wrap items-center justify-center gap-4 m-2">
        <app-social-links></app-social-links>
      </div>
      <div class="flex items-center justify-center mt-5">
        © {{ currentYear }} Martin Nagy — All rights reserved.
      </div>
    </ng-template>
  </p-card>
</div>
